body {
    max-width: 40rem;
    margin: 0 auto 0 auto;
}

body > * {
    width: 100%;
}

form > * { 
    width: 100%;    
    margin-bottom: 1rem;
}

ul.task-list {
    padding: 0;
    
    > li {
        list-style: none;
        display: flex;
        flex-direction: row;

        div.content {
            flex-grow: 1;

            h6 {
                margin: 0;
            }
        }

        form.delete {
           width: fit-content; 
        }
    }
}
